@import "tailwindcss";

@theme {
  --color-deadlock-dark: #1C1C27;
  --color-deadlock-city: #121212;
  --color-deadlock-headings: #8A9294;
  --background-image-star-outline: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z' stroke='%23d4af37' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  --animate-spinner: spinnerSpin 1s ease-in-out infinite normal forwards;
  --animate-counterSpinner: counterSpin 1s ease-in-out infinite normal backwards;


  @keyframes spinnerSpin {

    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes counterSpin {

    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(-360deg);
    }
  }

}

:root {
  --background: var(--color-deadlock-city);
  --foreground: var(--color-deadlock-headings);
}



@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --font-sans: var(--font-aldrich);
  --font-mono: var(--font-geist-mono);

}



body {
  background-color: #121212;
  color: var(--foreground)
}