@import "tailwindcss";

@theme {
  --color-deadlock-dark: #1C1C27;
  --color-deadlock-headings: #8A9294;
  --animate-spinner: loaderIconSpin 1s ease-in-out infinite normal forwards;

  @keyframes loaderIconSpin {

    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }

}

:root {
  --background: var(--color-deadlock-dark);
  --foreground: var(--color-deadlock-headings);
}



@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --font-sans: var(--font-aldrich);
  --font-mono: var(--font-geist-mono);

}



body {
  background-color: var(--color-deadlock-dark);
  color: var(--foreground)
}